* {
    font-family: "subjectivity_serifmedium";
    color: #2b2b2b;
}

body {
    margin: 0;
    padding: 0;
    background: #aaa492;
}

.main-app {
    display: none;
}

.title {
    width: 100vw;
    position: sticky;
    top: 0;
    z-index: 1;
    text-align: center;
    background: #9a9483;
    opacity: 0.95;
    box-shadow: 0 0.5vw 1vw 0.5vw #2b2b2b;
    backdrop-filter: blur(0.5vh);
}

h1 {
    margin: 0;
    padding: 2vw;
    font-family: "subjectivity_serifsuper";
    text-transform: uppercase;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.material-symbols-outlined:hover {
    cursor: pointer;
}

.add-item-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vh;
    user-select: none;
}

.quantity {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    user-select: none;
}

#item-quantity {
    padding: 0;
    background: #aaa492;
    text-align: center;
    outline: none;
    border: none;
    font-family: "subjectivity_serifsuper";
    font-size: 3vh;
}

ul {
    padding-inline-start: 0;
    list-style: none;
}


/* here */
button:hover {
    cursor: pointer;
}

.confirmbox-background {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.confirmbox {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
/* here */

@font-face {
    font-family: 'subjectivity_serifmedium';
    src: url('./assets/fonts/subjectivityserif-medium-webfont.woff2') format('woff2'),
         url('./assets/fonts/subjectivityserif-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'subjectivity_serifsuper';
    src: url('./assets/fonts/subjectivityserif-super-webfont.woff2') format('woff2'),
         url('./assets/fonts/subjectivityserif-super-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}