@font-face {
    font-family: 'subjectivity_serifmedium';
    src: url('../assets/fonts/subjectivityserif-medium-webfont.woff2') format('woff2'),
         url('../assets/fonts/subjectivityserif-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'subjectivity_serifsuper';
    src: url('../assets/fonts/subjectivityserif-super-webfont.woff2') format('woff2'),
         url('../assets/fonts/subjectivityserif-super-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}