@import url("fonts.css");

:root {
    font-family: "subjectivity_serifmedium";
    color: #9a9483;
}

body {
    margin: 0;
    padding: 0;
}

.material-symbols-outlined, input[type=submit] {
    cursor: pointer;
}

.header {
    height: 3.6rem;
    width: 100vw;
    margin: 10px 0;
    padding: 25px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #2b2b2b77, #2b2b2b, #171010);
}

.header span {
    padding: 0.25rem 0 0 3vw;
    font-family: "subjectivity_serifsuper";
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: 3vw;
    text-transform: uppercase;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    user-select: none;
}

input {
    font-family: "subjectivity_serifmedium";
}

.invalid-input {
    border: red solid 2px;
}

/* clip-path: polygon(
        0 30px,
        20% 0,
        40% 30px,
        60% 0,
        80% 30px,
        100% 0,
        100% calc(100% - 30px),
        80% 100%,
        60% calc(100% - 30px),
        40% 100%,
        20% calc(100% - 30px),
        0 100%
    ); */